<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ProCoursing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="../static/images/paw.ico">
    <style>
        .fa-times {
            color: red;
        }
        .female-row {
            background-color: rgba(247, 151, 247, 0.2);
        }

        .male-row {
            background-color: rgba(196, 227, 242, 0.3);
        }

        .table-header {
            background-color: #D1F2A5;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="../static/images/icon.jfif" alt="Card image cap" style="width: 30px; height: 30px">
        ПроКурсинг
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rating">Рейтинг <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <p class="email"><i class="fas fa-envelope"></i> lurecoursing@mail.ru</p>
        </li>
    </ul>
</nav>

<div class="container mt-4">
    {% if message %}
        <div id="message" class="alert mt-3 {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
            {{ message }}
        </div>
    {% endif %}

    <h1 style="text-align: center">Внести данные</h1>
    <div class="row">
        <div class="col-md-6 mb-5">
            <form action="/add-data" method="POST">
                <div class="form-row">
                    <div class="col-md-3">
                        <label for="date">Дата:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <label for="position">Место:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="position" name="position" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="type">Класс:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <select class="form-control" id="type" name="type" required>
                                <option value="Стандартный">Стандартный</option>
                                <option value="Стандартный-спринтеры">Стандартный-спринтеры</option>
                                <option value="Юниоры">Юниоры</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="sex">Пол:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <select class="form-control" id="sex" name="sex" required>
                                <option value="Кобель">Кобель</option>
                                <option value="Сука">Сука</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="nickname">Кличка:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nickname" name="nickname" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="max_position">Всего мест:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="max_position" name="max_position" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="score">Очки:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="score" name="score" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="link">Ссылка на результаты:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="link" name="link" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="link">Ссылка на Breed Archive:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="breed_link" name="breed_link" required>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Добавить</button>
            </form>
        </div>

        <br>

        <div class="col-md-6 mt-mb-4">
            <h2>Скачать Excel файл</h2>
            <form action="/add-data" method="post" class="mb-3">
                <a href="{{ url_for('add_data', download_full_excel='true') }}" class="btn btn-success">Скачать
                    Excel</a>
                <a href="{{ url_for('add_data', download_part_excel='true') }}" class="btn btn-success">Скачать шаблон
                    Excel</a>
            </form>

            <br>
            <br>

            <h2>Загрузить Excel файл</h2>
            <form action="/add-data" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" class="form-control-file" id="excel_file" name="excel_file" accept=".xls, .xlsx"
                           required>
                </div>
                <button type="submit" class="btn btn-success">Загрузить Excel файл</button>
            </form>

            <br>
            <br>
            <br>

            <h2>Загрузить с ProCoursing</h2>
            <form action="/add-data" method="post" class="mb-3">
                <div class="input-group">
                    <label for="link" class="input-group-text">Ссылка:</label>
                    <input type="text" name="link" id="link" class="form-control">
                </div>
                <button type="submit" name="run_script" class="btn btn-success mt-3">Загрузить с ProCoursing</button>
            </form>
        </div>
    </div>

    <h1 style="text-align: center">Изменить данные</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="columnID" class="column-checkbox">
                <label for="columnID">ID</label>
            </th>
            <th>
                <input type="checkbox" id="columnDate" class="column-checkbox" checked>
                <label for="columnDate">Дата</label>
            </th>
            <th>
                <input type="checkbox" id="columnPosition" class="column-checkbox">
                <label for="columnPosition">Позиция в соревновании</label>
            </th>
            <th>
                <input type="checkbox" id="columnType" class="column-checkbox" checked>
                <label for="columnType">Класс</label>
            </th>
            <th>
                <input type="checkbox" id="columnSex" class="column-checkbox" checked>
                <label for="columnSex">Пол</label>
            </th>
            <th>
                <input type="checkbox" id="columnNickname" class="column-checkbox" checked>
                <label for="columnNickname">Кличка</label>
            </th>
            <th>
                <input type="checkbox" id="columnMaxPosition" class="column-checkbox">
                <label for="columnMaxPosition">Всего участников</label>
            </th>
            <th>
                <input type="checkbox" id="columnScore" class="column-checkbox">
                <label for="columnScore">Баллы</label>
            </th>
            <th>
                <input type="checkbox" id="columnLink" class="column-checkbox">
                <label for="columnLink">Ссылка на источник</label>
            </th>
            <th>
                <input type="checkbox" id="columnBreedLink" class="column-checkbox">
                <label for="columnBreedLink">Ссылка на Breed Archive</label>
            </th>
        </tr>
        </thead>
    </table>

    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
            <tr class="table-header">
                <th data-column="columnID">
                    <div class="d-flex align-items-center" style="min-width: 130px; max-width: 180px">
                        ID
                        <input type="text" class="form-control ml-2" id="idSearch" placeholder="Поиск...">
                    </div>
                </th>
                <th data-column="columnDate">
                    <div class="d-flex align-items-center" style="min-width: 130px; max-width: 180px">
                        Дата
                        <input type="date" class="form-control" id="dateSelection" name="dateSelection">
                    </div>
                </th>
                <th data-column="columnPosition">
                    <div class="d-flex align-items-center" style="min-width: 130px; max-width: 180px">
                        Позиция в соревновании
                    </div>
                </th>
                <th data-column="columnType">
                    <div class="d-flex align-items-center" style="min-width: 130px; max-width: 180px">
                        Класс
                        <select class="form-control ml-2" id="typeDropdown">
                            <option value="all" selected>Все</option>
                            <option value="Стандартный">Стандартный</option>
                            <option value="Стандартный-спринтеры">Стандартный-спринтеры</option>
                            <option value="Юниоры">Юниоры</option>
                        </select>
                    </div>
                </th>
                <th data-column="columnSex">
                    <div class="d-flex align-items-center">
                        Пол
                        <select class="form-control ml-2" id="sexDropdown">
                            <option value="all" selected>Все</option>
                            <option value="Кобель">Кобель</option>
                            <option value="Сука">Сука</option>
                        </select>
                    </div>
                </th>
                <th data-column="columnNickname">
                    <div class="d-flex align-items-center">
                        Кличка
                        <input type="text" class="form-control ml-2" id="nameSearch" placeholder="Поиск...">
                    </div>
                </th>
                <th data-column="columnMaxPosition">
                    <div class="d-flex align-items-center" style="min-width: 130px; max-width: 180px">
                        Всего участников
                    </div>
                </th>
                <th data-column="columnScore">
                    <div class="d-flex align-items-center">
                        Баллы
                        <select class="form-control ml-2" id="ratingDropdown">
                            <option value="all" selected>Все</option>
                        </select>
                    </div>
                </th>
                <th data-column="columnLink">
                    <div class="d-flex align-items-center">
                        Ссылка на источник
                    </div>
                </th>
                <th data-column="columnBreedLink">
                    <div class="d-flex align-items-center">
                        Ссылка на Breed Archive
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="dogData">
            </tbody>
        </table>
        <div id="noResultsMessage" class="text-center mt-3" style="display: none;">
            Ничего не найдено. <br>
            Попробуйте написать имя на другом языке или поставить другие параметры.
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary mt-3" id="showAllButton">Показать больше</button>
        <button class="btn btn-secondary mt-3 ml-2" id="showLessButton">Показать меньше</button>
    </div>

    <br>
    <br>

    <h1 style="text-align: center"> Дополнительно </h1>
    <div class="text-center">
        <button class="btn btn-primary mt-3 check-database" id="check_database" name="check_database">Проверить данные</button>
        <form action="/add-data" method="post" class="mb-3">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <button type="submit" id="reset_ignored" name="reset_ignored" class="btn btn-danger mt-3">Сбросить информацию об ошибках</button>
                </div>
                <div class="col-md-6 mb-5">
                    <button class="btn btn-success mt-3 autofill-data" id="autofill_data" name="autofill_data">Автозаполнение данных</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row" style="text-align: center">
        <div class="col"></div>
        <div class="col-8">
            <h1>Удалить данные</h1>
            <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#confirmModal"
                    style="align-self: center">
                Очистить базу данных
            </button>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <br>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Подтвердите удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите очистить базу данных?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <form action="/add-data" method="post" class="mb-4">
                    <button type="submit" name="delete_button" class="btn btn-danger mt-3">Очистить базу данных</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Информация о баллах</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Позиция</th>
                        <th>Макс. позиция</th>
                        <th>Баллы</th>
                        <th>Ссылка</th>
                    </tr>
                    </thead>
                    <tbody id="modalTableBody">
                    <!-- Сюда будут добавляться данные из базы данных -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkDatabase" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Информация об ошибках</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Ошибка</th>
                    </tr>
                    </thead>
                    <tbody id="checkDatabaseModalTableBody">
                    <!-- Сюда будут добавляться данные из базы данных -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    var count = 0;
    var SelectedID, SelectedDate, SelectedType, SelectedSex, NameSearch, SelectedRating, AllRows;


    document.addEventListener("DOMContentLoaded", function () {
        let messageElement = document.getElementById("message");
        if (messageElement) {
            setTimeout(function () {
                messageElement.style.display = "none";
            }, 5000);
        }
    });

    function calculateScore() {
        let maxPosition = parseInt(document.getElementById("max_position").value);
        let position = parseInt(document.getElementById("position").value);
        let score = maxPosition - position + 1;
        if (!isNaN(score)) {
            document.getElementById("score").value = score;
        }
    }

    document.getElementById("max_position").addEventListener("input", calculateScore);
    document.getElementById("position").addEventListener("input", calculateScore);

    function updateDropdown(maxScore) {
        let dropdownOptions = '';
        const step = 10;
        dropdownOptions += '<option value="all" selected>Все</option>'
        for (let i = 0; i <= maxScore; i += step) {
            dropdownOptions += '<option value="' + i + '-' + (i + step - 1) + '">' + i + '-' + (i + step - 1) + '</option>';
        }

        $("#ratingDropdown").html(dropdownOptions);
    }

    $("#dogData").on("blur", "td[contenteditable='true']", function () {
        const cell = $(this);
        const row = $(this).closest("tr");
        const updatedData = {
            id: row.find("td:eq(0)").text(),
            date: row.find("td:eq(1)").text(),
            position: row.find("td:eq(2)").text(),
            type: row.find("td:eq(3)").text(),
            sex: row.find("td:eq(4)").text(),
            nickname: row.find("td:eq(5)").text(),
            max_position: row.find("td:eq(6)").text(),
            score: row.find("td:eq(7)").text(),
            link: row.find("td:eq(8)").text(),
            BreedLink: row.find("td:eq(9)").text(),
        };

        $.ajax({
            url: "/update-data",
            type: "POST",
            data: JSON.stringify(updatedData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                cell.addClass("bg-success");
                setTimeout(function () {
                    cell.removeClass("bg-success");
                }, 1500);
            },
            error: function (error) {
                cell.addClass("bg-danger");
                setTimeout(function () {
                    cell.removeClass("bg-danger");
                }, 1500);
            },
        });
    });

    $(document).ready(function () {
        $('.column-checkbox').each(function () {
            let columnName = $(this).attr('id');
            let isColumnVisible = $(this).is(':checked');

            if (isColumnVisible) {
                $(`th[data-column="${columnName}"]`).show();
            } else {
                $(`th[data-column="${columnName}"]`).hide();
            }
        });

        let initialSexSelection = $("#sexDropdown").val();
        let initialNameSearch = $("#nameSearch").val();
        let initialRatingSelection = $("#ratingDropdown").val();
        let initialType = $("#typeDropdown").val();
        loadData('', '', initialType, initialSexSelection, initialNameSearch, initialRatingSelection, false);
    });

    function loadData(selectedID, selectedDate, selectedType, selectedSex, nameSearch, selectedRating, allRows = false) {
        SelectedID = selectedID;
        SelectedDate = selectedDate;
        SelectedType = selectedType;
        SelectedSex = selectedSex;
        NameSearch = nameSearch;
        SelectedRating = selectedRating;
        AllRows = allRows;
        $.ajax({
            url: "/get-all-data",
            type: "POST",
            data: JSON.stringify({
                selectedID: selectedID,
                selectedDate: selectedDate,
                selectedType: selectedType,
                selectedSex: selectedSex,
                nameSearch: nameSearch,
                selectedRating: selectedRating,
                allRows: allRows
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let tableContent = '';
                let maxScore = 0;
                if (data.length === 0) {
                    $("#noResultsMessage").show();
                    $("#showAllButton").hide();
                    $("#showLessButton").hide();
                    $("#dogData").html(tableContent);
                } else {
                    $("#noResultsMessage").hide();
                    let checkboxDate = document.getElementById("columnDate");
                    let checkboxID = document.getElementById("columnID");
                    let checkboxPosition = document.getElementById("columnPosition");
                    let checkboxType = document.getElementById("columnType");
                    let checkboxSex = document.getElementById("columnSex");
                    let checkboxNickname = document.getElementById("columnNickname");
                    let checkboxMaxPosition = document.getElementById("columnMaxPosition");
                    let checkboxScore = document.getElementById("columnScore");
                    let checkboxLink = document.getElementById("columnLink");
                    let checkboxBreedLink = document.getElementById("columnBreedLink");

                    for (let i = 0; i < data.length; i++) {
                        let currentScore = parseInt(data[i].score);

                        if (currentScore > maxScore) {
                            maxScore = currentScore;
                        }

                        let genderClass = data[i].sex === 'Сука' ? 'female-row' : 'male-row';
                        let inputDate = new Date(data[i].date);
                        let day = inputDate.getUTCDate().toString().padStart(2, '0');
                        let month = (inputDate.getUTCMonth() + 1).toString().padStart(2, '0');
                        let year = inputDate.getUTCFullYear();
                        let formattedDate = `${day}.${month}.${year}`;
                        tableContent += '<tr class="' + genderClass + '">';
                        if (checkboxID.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].id + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">' + data[i].id + '</td>';
                        }
                        if (checkboxDate.checked) {
                            tableContent += '<td contenteditable="true">' + formattedDate + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">' + formattedDate + '</td>';
                        }
                        if (checkboxPosition.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].position + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">' + data[i].position + '</td>';
                        }
                        if (checkboxType.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].type + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">' + data[i].type + '</td>';
                        }
                        if (checkboxSex.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].sex + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">' + data[i].sex + '</td>';
                        }
                        if (checkboxNickname.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].Nickname + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">>' + data[i].Nickname + '</td>';
                        }
                        if (checkboxMaxPosition.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].max_position + '</td>';
                        } else {
                            tableContent += '<td style="display: none" contenteditable="true">' + data[i].max_position + '</td>';
                        }
                        if (checkboxScore.checked) {
                            tableContent += '<td contenteditable="true"><div class="d-flex align-items-center">' + data[i].score + '<a href="#" class="score-info ml-2" data-toggle="modal" data-target="#infoModal" data-score="' + name + ', ' + data[i].type + '"><i class="fas fa-question-circle"></i></a></div></td->';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none"><div class="d-flex align-items-center">' + data[i].score + '<a href="#" class="score-info ml-2" data-toggle="modal" data-target="#infoModal" data-score="' + name + ', ' + data[i].type + '"><i class="fas fa-question-circle"></i></a></div></td>';
                        }
                        if (checkboxLink.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].link + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">' + data[i].link + '</td>';
                        }
                        if (checkboxBreedLink.checked) {
                            tableContent += '<td contenteditable="true">' + data[i].breedLink + '</td>';
                        } else {
                            tableContent += '<td contenteditable="true" style="display: none">' + data[i].breedLink + '</td>';
                        }
                        tableContent += '</tr>';
                    }

                    if (maxScore > $("#maxScoreHolder").text()) {
                        updateDropdown(maxScore);
                        $("#maxScoreHolder").text(maxScore);
                    }

                    if (allRows) {
                        $("#showAllButton").hide();
                        $("#showLessButton").show();
                    } else {
                        if (data.length === 9) {
                            tableContent += '<tr><td> ... </td><td> ... </td><td> ... </td><td> ... </td></tr>';
                        }
                        $("#showAllButton").show();
                        $("#showLessButton").hide();
                    }

                    if (data.length < 9) {
                        $("#showAllButton").hide();
                    }

                    $("#dogData").html(tableContent);
                }

                $(".score-info").click(function () {
                    let score = $(this).data('score');
                    $.ajax({
                        url: "/get-score-details",
                        type: "POST",
                        data: JSON.stringify({score: score}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (scoreDetails) {
                            console.log(scoreDetails)
                            let modalTableContent = '';
                            for (let i = 0; i < scoreDetails.length; i++) {
                                let inputDate = new Date(scoreDetails[i][0]);
                                let day = inputDate.getUTCDate().toString().padStart(2, '0');
                                let month = (inputDate.getUTCMonth() + 1).toString().padStart(2, '0');
                                let year = inputDate.getUTCFullYear();
                                let formattedDate = `${day}.${month}.${year}`;
                                modalTableContent += '<tr><td>' + formattedDate + '</td><td>' + scoreDetails[i][1] + '</td><td>' + scoreDetails[i][2] + '</td><td>' + scoreDetails[i][3] + '</td><td><a href="' + scoreDetails[i][4] + '" target="_blank">Источник</a></td></tr>';
                            }
                            console.log(modalTableContent);
                            $("#modalTableBody").html(modalTableContent);
                            $("#infoModal").modal('show');
                        }
                    });
                });
            }
        });
    }

    $("#checkDatabaseModalTableBody").on("click", ".delete-row", function () {
        let row = $(this).closest('tr');
        let id = $(this).data('id');
        let error = $(this).data('error');
        let updatedData = { id: id, error: error };

        $.ajax({
            url: "/ignore-data",
            type: "POST",
            data: JSON.stringify(updatedData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                row.remove();
            },
            error: function (error) {
                row.addClass("bg-danger");
            setTimeout(function () {
                row.removeClass("bg-danger");
            }, 1500);
            },
        });
    });


    $(".check-database").click(function () {
        let score = $(this).data('score');
        $.ajax({
            url: "/check-database",
            type: "POST",
            data: JSON.stringify({score: score}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let modalTableContent = '';
                for (let i = 0; i < data.length; i++) {
                    modalTableContent += '<tr>'
                    modalTableContent += '<td> <a class="delete-row" data-error="' + data[i].error + '" data-id="' + data[i].id + '"> <i class="fas fa-times"></i> </a></td>';
                    modalTableContent += '<td>' + data[i].id + '</td>';
                    modalTableContent += '<td>' + data[i].error + '</td>';
                    modalTableContent += '</tr>'
                }
                console.log(modalTableContent);
                $("#checkDatabaseModalTableBody").html(modalTableContent);
                $("#checkDatabase").modal('show');
            }
        });
    });

    $('.column-checkbox').change(function () {
        let columnName = $(this).attr('id');
        let isColumnVisible = $(this).is(':checked');

        if (isColumnVisible) {
            $(`th[data-column="${columnName}"]`).show();
        } else {
            $(`th[data-column="${columnName}"]`).hide();
        }
        loadData(SelectedID, SelectedDate, SelectedType, SelectedSex, NameSearch, SelectedRating, AllRows);
    });

    function updateData(allRows) {
        let selectedType = $("#typeDropdown").val();
        let selectedSex = $("#sexDropdown").val();
        let nameSearch = $("#nameSearch").val();
        let selectedRating = $("#ratingDropdown").val();
        let selectedDate = $("#dateSelection").val();
        let selectedID = $("#idSearch").val();
        loadData(selectedID, selectedDate, selectedType, selectedSex, nameSearch, selectedRating, allRows);
    }

    $("#nameSearch").on('input', function () {
        updateData(false);
    });

    $("#idSearch").on('input', function () {
        updateData(false);
    });

    $("#sexDropdown").change(function () {
        updateData(false);
    });

    $("#ratingDropdown").change(function () {
        updateData(false);
    });

    $("#typeDropdown").change(function () {
        updateData(false);
    });

    $("#showAllButton").click(function () {
        updateData(true);
    });

    $("#showLessButton").click(function () {
        updateData(false);
    });

    $("#dateSelection").on("change", function() {
        updateData(false);
    });
</script>
</body>
</html>
