<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсинг РФ</title>

    <link href="../static/css/errorStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="../static/images/icon.jfif" alt="Card image cap" style="width: 30px; height: 30px">
        Курсинг РФ
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Рейтинг</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/rating/whippets">Уиппеты</a>
                    <a class="dropdown-item" href="/rating/italian_greyhounds">Левретки</a>
                    <a class="dropdown-item" href="/rating/pharaoh_hound">Фараонова собака</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Топ-5</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/best/whippets">Уиппеты</a>
                    <a class="dropdown-item" href="/best/italian_greyhounds">Левретки</a>
                    <a class="dropdown-item" href="/best/pharaoh_hound">Фараонова собака</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <p class="email"><i class="fas fa-envelope"></i> lurecoursing@mail.ru</p>
        </li>
    </ul>
</nav>

<div class="container text-center mt-5">
    <h1 class="display-4">Страница в разработке</h1>
    <p class="lead">Мы работаем над улучшением этой страницы. Пожалуйста, вернитесь позже.</p>
    <img src="../static/images/gear.png" alt="Страница в разработке" class="img-fluid mt-4" style="max-width: 300px;">
</div>
<div class="link-container">
    <a href="/" class="more-link" style="text-decoration: none; color: white">На главную...</a>
</div>

</body>
</html>
