<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ProCoursing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" href="../static/images/paw.ico">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            margin-top: 40px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="../static/images/paw.png" alt="Card image cap" style="width: 30px; height: 30px">
        ПроКурсинг
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rating">Рейтинг <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                <div class="d-flex align-items-center" style="min-width: 130px; max-width: 180px">
                    Класс
                    <select class="form-control ml-2" id="typeDropdown">
                        <option value="all" selected>Все</option>
                        <option value="Стандартный">Стандартный</option>
                        <option value="Стандартный-спринтеры">Стандартный-спринтеры</option>
                        <option value="Юниоры">Юниоры</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="d-flex align-items-center">
                    Кличка
                    <input type="text" class="form-control ml-2" id="nameSearch" placeholder="Поиск...">
                </div>
            </th>
            <th>
                <div class="d-flex align-items-center">
                    Пол
                    <select class="form-control ml-2" id="sexDropdown">
                        <option value="all" selected>Все</option>
                        <option value="Кобель">Кобель</option>
                        <option value="Сука">Сука</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="d-flex align-items-center">
                    Баллы
                    <select class="form-control ml-2" id="ratingDropdown">
                        <option value="all" selected>Все</option>
                        {#                        <option value="0-9">0-9</option>#}
                        {#                        <option value="10-19">10-19</option>#}
                        {#                        <option value="20-29">20-29</option>#}
                        {#                        <option value="30-39">30-39</option>#}
                        {#                        <option value="40-49">40-49</option>#}
                    </select>
                </div>
            </th>
        </tr>
        </thead>
        <tbody id="dogData">
        <!-- Таблица будет заполняться данными с помощью JavaScript -->
        </tbody>
    </table>
    <div id="noResultsMessage" class="text-center mt-3" style="display: none;">
        Ничего не найдено. <br>
        Попробуйте написать имя на другом языке или поставить другие параметры.
    </div>
</div>

<div class="text-center">
    <button class="btn btn-primary mt-3" id="showAllButton">Показать больше</button>
    <button class="btn btn-secondary mt-3 ml-2" id="showLessButton">Показать меньше</button>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Информация о баллах</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Позиция</th>
                        <th>Макс. позиция</th>
                        <th>Баллы</th>
                    </tr>
                    </thead>
                    <tbody id="modalTableBody">
                    <!-- Сюда будут добавляться данные из базы данных -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div id="maxScoreHolder" style="display: none;">0</div>

<footer class="footer" id="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h5>О нас</h5>
                <p>Мы представляем систему отслеживания рейтинга собаки на соревнованиях по курсингу.</p>
            </div>
            <div class="col-md-6">
                <h5>Контакты</h5>
                <p class="email"><i class="fas fa-envelope"></i> t.kuzmi@mail.com</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    var count = 0;

    function updateDropdown(maxScore) {
        let dropdownOptions = '';
        const step = 10;
        dropdownOptions += '<option value="all" selected>Все</option>'
        for (let i = 0; i <= maxScore; i += step) {
            dropdownOptions += '<option value="' + i + '-' + (i + step - 1) + '">' + i + '-' + (i + step - 1) + '</option>';
        }

        $("#ratingDropdown").html(dropdownOptions);
    }

    $(document).ready(function () {
        let initialSexSelection = $("#sexDropdown").val();
        let initialNameSearch = $("#nameSearch").val();
        let initialRatingSelection = $("#ratingDropdown").val();
        let initialType = $("#typeDropdown").val();
        loadData(initialType, initialSexSelection, initialNameSearch, initialRatingSelection, false);
    });

    function loadData(selectedType, selectedSex, nameSearch, selectedRating, allRows = false) {
        $.ajax({
            url: "/get-data",
            type: "POST",
            data: JSON.stringify({
                selectedType: selectedType,
                selectedSex: selectedSex,
                nameSearch: nameSearch,
                selectedRating: selectedRating,
                allRows: allRows
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let tableContent = '';
                let maxScore = 0;
                if (data.length === 0) {
                    $("#noResultsMessage").show();
                    $("#showAllButton").hide();
                    $("#showLessButton").hide();
                    $("#dogData").html(tableContent);
                } else {
                    $("#noResultsMessage").hide();
                    for (let i = 0; i < data.length; i++) {
                        let currentScore = parseInt(data[i].TotalScore);
                        if (currentScore > maxScore) {
                            maxScore = currentScore;
                        }

                        let name = data[i].name.replace("/", "<br>");
                        tableContent += '<tr><td>' + data[i].type + '</td><td>' + name + '</td><td>' + data[i].sex + '</td><td><div class="d-flex align-items-center">' + data[i].TotalScore + '<a href="#" class="score-info ml-2" data-toggle="modal" data-target="#infoModal" data-score="' + name + ', ' + data[i].type + '"><i class="fas fa-question-circle"></i></a></div></td></tr>';
                    }
                    console.log(maxScore)
                    if (maxScore > $("#maxScoreHolder").text()) {
                        updateDropdown(maxScore);
                        $("#maxScoreHolder").text(maxScore);
                    }

                    if (allRows) {
                        $("#showAllButton").hide();
                        $("#showLessButton").show();
                    } else {
                        if (data.length === 9) {
                            tableContent += '<tr><td> ... </td><td> ... </td><td> ... </td><td> ... </td></tr>';
                        }
                        $("#showAllButton").show();
                        $("#showLessButton").hide();
                    }

                    if (data.length < 9) {
                        $("#showAllButton").hide();
                    }

                    $("#dogData").html(tableContent);
                }

                $(".score-info").click(function () {
                    let score = $(this).data('score');
                    $.ajax({
                        url: "/get-score-details",
                        type: "POST",
                        data: JSON.stringify({score: score}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (scoreDetails) {
                            let modalTableContent = '';
                            console.log(scoreDetails)
                            for (let i = 0; i < scoreDetails.length; i++) {
                                let inputDate = new Date(scoreDetails[i][0]);
                                let day = inputDate.getUTCDate().toString().padStart(2, '0');
                                let month = (inputDate.getUTCMonth() + 1).toString().padStart(2, '0');
                                let year = inputDate.getUTCFullYear();
                                let formattedDate = `${day}.${month}.${year}`;
                                modalTableContent += '<tr><td>' + formattedDate + '</td><td>' + scoreDetails[i][1] + '</td><td>' + scoreDetails[i][2] + '</td><td>' + scoreDetails[i][3] + '</td></tr>';
                            }
                            $("#modalTableBody").html(modalTableContent);
                            $("#infoModal").modal('show');
                        }
                    });
                });
            }
        });
    }

    function updateData(allRows) {
        let selectedType = $("#typeDropdown").val();
        let selectedSex = $("#sexDropdown").val();
        let nameSearch = $("#nameSearch").val();
        let selectedRating = $("#ratingDropdown").val();
        loadData(selectedType, selectedSex, nameSearch, selectedRating, allRows);
    }

    $("#nameSearch").on('input', function () {
        updateData(false);
    });

    $("#sexDropdown").change(function () {
        updateData(false);
    });

    $("#ratingDropdown").change(function () {
        updateData(false);
    });

    $("#typeDropdown").change(function () {
        updateData(false);
    });

    $("#showAllButton").click(function () {
        updateData(true);
    });

    $("#showLessButton").click(function () {
        updateData(false);
    });

</script>
</body>
</html>
