<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ProCoursing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="../static/pawn_gray.ico">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="../static/pawn.png" alt="Card image cap" style="width: 30px; height: 30px">
        ПроКурсинг
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rating">Рейтинг</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% if message %}
        <div id="message" class="alert mt-3 {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
            {{ message }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6 mb-5">
            <h1>Внести данные</h1>
            <form action="/add-data" method="POST">
                <div class="form-row">
                    <div class="col-md-3">
                        <label for="date">Дата:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <label for="position">Место:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="position" name="position" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="type">Класс:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <select class="form-control" id="type" name="type" required>
                                <option value="Стандартный">Стандартный</option>
                                <option value="Стандартный-спринтеры">Стандартный-спринтеры</option>
                                <option value="Юниоры">Юниоры</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="sex">Пол:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <select class="form-control" id="sex" name="sex" required>
                                <option value="Кобель">Кобель</option>
                                <option value="Сука">Сука</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="nickname">Кличка:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nickname" name="nickname" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="max_position">Всего мест:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="max_position" name="max_position" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="score">Очки:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="score" name="score" readonly>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Добавить</button>
            </form>
        </div>

        <br>

        <div class="col-md-6 mt-mb-4">
            <h1>Скачать Excel файл</h1>
            <form action="/add-data" method="post" class="mb-3">
                <a href="{{ url_for('add_data', download_full_excel='true') }}" class="btn btn-success">Скачать
                    Excel</a>
                <a href="{{ url_for('add_data', download_part_excel='true') }}" class="btn btn-success">Скачать шаблон
                    Excel</a>
            </form>

            <br>

            <h1>Загрузить Excel файл</h1>
            <form action="/add-data" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" class="form-control-file" id="excel_file" name="excel_file" accept=".xls, .xlsx"
                           required>
                </div>
                <button type="submit" class="btn btn-success">Загрузить Excel файл</button>
            </form>

            <br>
            <br>

            <h1>Загрузить с ProCoursing</h1>
            <form action="/add-data" method="post" class="mb-3">
                <div class="input-group">
                    <label for="link" class="input-group-text">Ссылка:</label>
                    <input type="text" name="link" id="link" class="form-control">
                </div>
                <button type="submit" name="run_script" class="btn btn-success mt-3">Загрузить с ProCoursing</button>
            </form>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col"></div>
        <div class="col-8">
            <h1>Очистить базу данных</h1>
            <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#confirmModal"
                    style="align-self: center">
                Очистить базу данных
            </button>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Подтвердите удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите очистить базу данных?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <form action="/add-data" method="post" class="mb-4">
                    <button type="submit" name="delete_button" class="btn btn-danger mt-3">Очистить базу данных</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let messageElement = document.getElementById("message");
        if (messageElement) {
            setTimeout(function () {
                messageElement.style.display = "none";
            }, 5000); // Скрыть через 5 секунд (5000 миллисекунд)
        }
    });

    function calculateScore() {
        let maxPosition = parseInt(document.getElementById("max_position").value);
        let position = parseInt(document.getElementById("position").value);
        let score = maxPosition - position + 1;
        if (!isNaN(score)) {
            document.getElementById("score").value = score;
        }
    }

    document.getElementById("max_position").addEventListener("input", calculateScore);
    document.getElementById("position").addEventListener("input", calculateScore);
</script>
</body>
</html>
