<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/styleSheet.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/pictures/favicon1.ico}" rel="icon" type="image/x-icon">
    <script defer type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/langSwitcher.js}"></script>
    <title>Home</title>
</head>

<nav class="navbar navbar-expand-lg js-site-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/?lang=ru"><img id="logo" th:src="@{/icons/nav/logo.png}" src="" alt="logo"></a>
        <div><p id="flood">FLOOD</p></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false">
            <span><img id="menu-icon" th:src="@{/icons/nav/menu.svg}" src="" alt="menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="scientific_work" href="/">Главная</a><img
                        id="arrow"
                        th:src="@{/icons/nav/arrow.svg}"
                        src=""
                        alt="arrow">
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/Ratings">Рейтинги</a></li>
                <li class="nav-item"><a class="nav-link" href="#site-footer">Контакты</a></li>
                <li th:if="${role}==null" class=" nav-item sign-toggler"><a class="nav-link btn"
                                                                            href="/auth/login?lang=ru">Войти</a></li>
                <li th:if="${role}==null" class=" nav-item sign-toggler"><a class="nav-link btn"
                                                                            href="/auth/registration?lang=ru">Регистрация</a>
                </li>
                <form th:action="@{/logout}" th:method="POST">
                    <input type="hidden" name="lang" value="ru">
                    <input type="submit" th:if="${role}!=null" class="logout-btn" value="Выйти">
                </form>
            </ul>
            <a th:if="${role}==null" href="/auth/login?lang=ru"><img id="login" th:src="@{/icons/nav/login.svg}" src=""
                                                                     alt="login"></a>
        </div>
    </div>
</nav>


<body class="black-bg">
<div class="admin-wrapper" th:if="${role} == 'ROLE_ADMIN'">

    <div class="row info">
        <div class="col-lg-3 ml-auto">
            <div class="widget about">
                <h3>Меню</h3>
                <ul class="list-unstyled float-left links">
                    <li>
                        <a href="/train?lang=ru">
                            Добавить данные
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="widget about">
                <h3>Назначить администратором</h3>
                <form th:action="@{/updateRole}" th:method="PATCH">
                    <input type="hidden" name="lang" value="ru"/>
                    <label for="listUsers"></label>
                    <select th:object="${listPerson}" class="style-input make-admin" id="listUsers" name="email">
                        <option class="style-option" th:each="person: ${listPerson}" th:id="${person}"
                                th:value="${person.getEmail()}"
                                th:text="${person.getUsername() + '; ' + person.getEmail()}"></option>
                    </select>
                    <input class="submit-btn admin-btn" type="submit" value="Дать админку">
                </form>
            </div>
        </div>
    </div>
</div>

<main class="mainPage">
    <div class="main-page">
        <div class="mp">
            <div class="col-lg ms-auto">
                <div class="main-heading">
                    <div class="excerpt" style="margin-bottom: 50px">
                        <img th:src="@{/icons/heading.png}" src="/icons/heading.png" alt="heading"
                             class="heading-icon">
                        <p class="sub-heading">Система отслеживания рейтинга собаки на соревнованиях</p>
                    </div>
                </div>

                <div class="flex-container cards-group">
                    <div class="flex-container cards">
                        <div class="card card-text" id="card1">
                            Отчёт о каждом соревновании
                        </div>
                        <div class="card" id="card2"><img th:src="@{/icons/waves.png}"
                                                          src="/icons/waves.png" alt="drops"
                                                          class="waves-icon"></div>
                        <div class="card card-text" id="card3">
                            <a href="#sWork-desc">
                                Детальное описание проекта
                            </a>
                        </div>
                        <div class="card card-text" id="card4">
                            <a href="#site-footer">
                                Контакты владельца проекта
                            </a>
                            <img th:src="@{/icons/blueArrow.png}" src="/icons/blueArrow.png"
                                 class="cardArrow blueArrow" alt="cardArrow">
                        </div>

                        <div class="card card-text" id="card5">
                            Удобство использования
                        </div>
                        <div class="card" id="card6"><img th:src="@{/icons/drops.png}"
                                                          src="/icons/drops.png" alt="drops"
                                                          class="drops-icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sWork-desc" id="sWork-desc">
            <div class="row sWork-aime">
                <div class="column sWork-aime-textGroup">
                    <div class="row sWork-block-heading">
                        Описание и цель проекта
                    </div>
                    <img class="row sWork-block-line" src="/icons/line.png" th:src="@{/icons/line.png}" alt="line">
                    <div class="row sWork-desc-text sWork-aim-text" id="sWork-aim-text">
                        Система отслеживания рейтинга собаки на соревнованиях разрабатывается с
                        целью создания удобного и надежного инструмента для собственников и тренеров собак,
                        позволяющего эффективно отслеживать и анализировать результаты выступлений своих питомцев
                        на соревнованиях. Главной целью системы является предоставление точных и надежных данных
                        о рейтинге каждой собаки на основе ее выступлений на различных соревнованиях.
                        <div class="sub-text">
                            Система предоставляет возможность вносить подробную информацию о каждом соревновании,
                            включая дату, место проведения, тип соревнования, категорию и результаты выступления
                            каждой собаки. Пользователи могут получить полный отчет о выступлении своей собаки,
                            включающий оценки судей, время, место и другие важные детали.
                        </div>
                    </div>
                </div>
                <div class="column sWork-aime-icon">
                    <img class=" row pin-icon" src="/icons/pin-icon.png" th:src="@{/icons/pin-icon.png}" alt="pin-icon">
                    <div class=" pin-bg" id="marker2"></div>
                </div>
            </div>
            <div class="row sWork-aime">
                <div class="column sWork-aime-icon sWork-function-icon1" id="sWork-function-icon">
                    <img class=" row pin-icon" src="/icons/function-icon.png" th:src="@{/icons/function-icon.png}"
                         alt="pin-icon">
                    <div class=" pin-bg"></div>
                </div>

                <div class="column sWork-aime-textGroup" id="sWork-function-text">
                    <div class="row sWork-block-heading">
                        Техника составления рейтинга
                    </div>
                    <img class="row sWork-block-line" src="/icons/line.png" th:src="@{/icons/line.png}" alt="line">
                    <div class="row sWork-desc-text sWork-aim-text">
                        <p class="sWork-function-p">Техника составления рейтинга собаки в системе основана на простом
                            и понятном алгоритме. Вот пошаговое описание процесса:</p>
                        <p class="sWork-function-p">1. Сбор данных о соревнованиях: Система собирает информацию о
                            всех соревнованиях, в которых собака принимала участие </p>
                        <p class="sWork-function-p">2. Выбор соревнований за последний год: Для составления рейтинга
                            учитываются только соревнования, прошедшие в течение последнего года. Это обеспечивает
                            актуальность данных и учитывает последние достижения собаки.</p>
                        <p class="sWork-function-p">3. Расчет баллов: Для каждого соревнования собаки присваивается
                            определенное место в своей категории или группе. Баллы рассчитываются по следующей формуле:
                            количество мест - место собаки. Например, если собака заняла 3-е место в соревновании с
                            10 участниками, то она получит 7 баллов (10 - 3 = 7).</p>
                        <p class="sWork-function-p">
                            4. Суммирование баллов: Для каждой собаки суммируются баллы, которые она набрала на
                            всех соревнованиях за последний год. </p>
                        <p class="sWork-function-p">
                            5.  Рейтинговая система: Собаки ранжируются по общему количеству баллов.
                            Чем больше баллов набрала собака, тем выше она будет находиться в рейтинге. </p>
                    </div>
                </div>
            </div>
            <div class="column sWork-aime-icon" id="sWork-function-icon2">
                <img class="row pin-icon" src="/icons/function-icon.png" th:src="@{/icons/function-icon.png}"
                     alt="pin-icon">
                <div class=" pin-bg"></div>
            </div>

        </div>
        <div class="site-footer" id="site-footer">
            <div class="row info">
                <div class="col-lg-4">
                    <div class="widget about">
                        <h3>О нас<span class="text-primary"></span></h3>
                        <p>Система отслеживания рейтинга собаки на соревнованиях предоставляет надежный и
                            эффективный инструмент для собственников и тренеров собак, помогая им следить
                            за прогрессом своих питомцев.</p>
                    </div>
                </div>

                <div class="col-lg-3 ml-auto">
                    <div class="widget about">
                        <h3>Меню</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="/?lang=ru">Главная</a></li>
                            <li><a href="/scientificWork?lang=ru">Рейтинги</a></li>
                            <li th:if="${role}==null"><a href="/auth/registration?lang=ru">Регистрация</a></li>
                            <li th:if="${role}==null"><a href="/auth/login?lang=ru">Вход</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="widget about">
                        <h3>Контакты</h3>
                        <address>Кузьмичева Татьяна Викторовна</address>
                        <ul class="list-unstyled links mb-4">
                            <li><a href="mailto:teelxp@inbox.ru">teelxp@inbox.ru</a></li>
                            <li><a href="https://vk.com/teelxp" target="_blank">Vkontakte</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-5 copy">
                <div class="col-12 text-center">
                    <p class="copyright">Copyright &copy; 2023. All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>