<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProCoursing</title>
    <link href="../../static/css/errorStyle.css" rel="stylesheet" type="text/css">
    <link href="../../static/images/paw.ico" rel="icon" type="image/x-icon">
</head>
<body>
<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>0</span>
</section>
<h1> Неавторизованный пользователь </h1>
<div class="link-container">
    <a href="/" class="more-link">На главную...</a>
</div>
</body>
</html>